

body {
    font-family: sans-serif; /* Устанавливает шрифт для всего документа */
    margin: 0; /* Убирает отступы по умолчанию */
    padding: 0; /* Убирает внутренние отступы по умолчанию */
    background-color: #f0f0f0; /* Устанавливает светло-серый фон страницы */
    color: black; /* Устанавливает черный цвет текста */
}

header {
    background-color: #003366; /* Устанавливает темно синий фон для заголовка */
    color: white; /* Устанавливает белый цвет текста в заголовке */
    text-align: center; /* Центрирует текст в заголовке */
    padding: 20px; /* Добавляет отступы вокруг содержимого заголовка */
}

.header-title {
    font-size: 3em; /* Увеличивает размер шрифта заголовка в три раза */
    color: white; /* Устанавливает белый цвет текста заголовка */
    border: 4px solid red; /* Добавляет красный кант вокруг заголовка */
    display: inline-block; /* Позволяет заголовку занимать только необходимое пространство */
    padding: 10px; /* Добавляет отступы внутри заголовка */
}

.container {
    display: flex; /* Устанавливает флекс-контейнер для адаптивного расположения элементов */
    height: auto; /* Высота будет адаптивной в зависимости от содержимого */
}

.call-button {
    background-color: #FFA500; /* Светло-оранжевый фон для кнопки */
    color: white; /* Белый текст */
    border: 2px solid black; /* Черный кант */
    padding: 10px 10px; /* Отступы для кнопки */
    cursor: pointer; /* Указатель при наведении */
}

.left-side {
    width: 50%; /* Устанавливает ширину левой стороны на 50% */
    display: flex; /* Использует флекс для расположения дочерних элементов */
    flex-direction: column; /* Располагает дочерние элементы в колонку */
    align-items: center; /* Центрирует дочерние элементы по горизонтали */
    background-color: rgba(60, 179, 113, 0.7); /* Устанавливает светло-морской зеленоватый фон с прозрачностью */
}


.button {
    background-color: white; /* Белый фон для кнопки "Показать номер"                ЭТОТ КЛАСС РЕАГИРУЕТ НА КНОПКИ*/
    color: black; /* Черный текст */
    border: 2px solid black; /* Черный кант */
    padding: 20px 20px; /* Отступы для кнопки */
    cursor: pointer; /* Указатель при наведении */
    width: 150px; /* Ширина кнопки */
    height: 40px; /* Высота кнопки */
}


/*.show-phone-button {
    background-color: black; /* Белый фон для кнопки "Показать номер"    ЭТОТ НЕ РЕАГИРУЕТ НО ПРОПАЛ ЗЕЛЕНЫЙ ФОН*/
/*    color: black; /* Черный текст */
/*    border: 2px solid black; /* Черный кант */
/*    padding: 10px 10px; /* Отступы для кнопки */
/*    cursor: pointer; /* Указатель при наведении */
/*    width: 150px; /* Ширина кнопки */
/*    height: 40px; /* Высота кнопки */
/*}

.call-button:hover {
    background-color: #FF8C00; /* Изменение цвета при наведении (по желанию) */
}
.left-side {
    width: 50%; /* Устанавливает ширину левой стороны на 50% */
    display: flex; /* Использует флекс для расположения дочерних элементов */
    flex-direction: column; /* Располагает дочерние элементы в колонку */
    align-items: center; /* Центрирует дочерние элементы по горизонтали */
    background-color: rgba(60, 179, 113, 0.7); /* Устанавливает светло-морской зеленоватый фон с прозрачностью */
}

.item {
    margin: 20px; /* Добавляет отступы вокруг каждого элемента */
    text-align: center; /* Центрирует текст внутри элемента */
}

.item img {
    max-width: 200px; /* Ограничивает максимальную ширину изображений до 200 пикселей */
    height: auto; /* Сохраняет пропорции изображения */
}

.price-block {
    background-color: lightgreen; /* Устанавливает светло-зеленый фон для блока цены */
    padding: 10px; /* Добавляет отступы внутри блока цены */
    margin-top: 10px; /* Добавляет верхний отступ между блоками цены */
}
.price-block .show-phone-button {
    width: var(--button-width-pc);
    height: var(--button-height-pc);

}

.right-side {
    width: 50%; /* Устанавливает ширину правой стороны на 50% */
    background-color: rgba(255, 255, 0, 0.2); /* Устанавливает светло-прозрачный желтый фон */

    padding: 20px; /* Добавляет отступы вокруг содержимого правой стороны */
}

.red {
    color: red; /* Устанавливает красный цвет текста для элементов с классом .red */
}

/* Стили для кнопок и аватарок */
.button, .call-icon {
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Объемный эффект */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Плавный переход */
}

.button:hover, .call-icon:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

.button:active, .call-icon:active {
    transform: scale(0.95); /* Эффект "пригибания" при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Уменьшение тени при нажатии */
}

.small {
    font-size: smaller; /* Уменьшает размер шрифта для элементов с классом .small */
}

:root {
    --button-width-pc: 150px; /* Ширина кнопки для ПК */
    --button-height-pc: 30px; /* Высота кнопки для ПК */
    --button-width-mobile: 120px; /* Ширина кнопки для мобильных устройств */
    --button-height-mobile: 20px; /* Высота кнопки для мобильных устройств */
}

.call-button, .show-phone-button {
    width: var(--button-width-pc); /* Используем переменные для ПК */
    height: var(--button-height-pc); /* Используем переменные для ПК */
}

/* Стили для кнопок и аватарок */
.button, .call-icon, .messenger-icon {
    border-radius: 10px; /* Скругление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Объемный эффект */
    transition: transform 0.1s ease, box-shadow 0.1s ease; /* Плавный переход */
}

.button:hover, .call-icon:hover, .messenger-icon:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Увеличение тени при наведении */
}

.button:active, .call-icon:active, .messenger-icon:active {
    transform: scale(0.95); /* Эффект "пригибания" при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Уменьшение тени при нажатии */
}

/* Мобильные стили */
/*@media (max-width: 768px) {
/*    .call-button, .show-phone-button {
/*        width: var(--button-width-mobile); /* Используем переменные для мобильных */
/*       height: var(--button-height-mobile); /* Используем переменные для мобильных */
/*    }
/*}

/* Добавляем стили для анимации текста */

/* Определяем ключевые кадры для анимации */
@keyframes fadeIn {
    from {
        opacity: 0; /* Начальная прозрачность */
    }
    to {
        opacity: 1; /* Конечная прозрачность */
    }
}

.warning {
    color: red; /* Красный цвет для "ВНИМАНИЕ ЗАКАЗЧИКАМ" */
    font-weight: bold; /* Жирный шрифт */
}

.info {
    color: #FFD700; /* жолтый цвет для остального текста */
}



/* Добавляем стили для анимации текста */
.animated-text {
    text-align: center; /* Центрируем текст */
    animation: fadeInOut 3s ease-in-out infinite; /* Анимация появления и исчезновения */
    margin-top: 10px; /* Отступ сверху */
    font-size: 1.5em; /* Размер шрифта */
}

.red {
    color: red; /* Красный цвет текста */
    text-shadow: 0 0 5px white; /* Белый кант вокруг красного текста */
}

/* Определяем ключевые кадры для анимации */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0; /* Начальная и конечная прозрачность */
    }
    50% {
        opacity: 1; /* Полная видимость в середине анимации */
    }
}

.highlighted-text {
    border: 2px solid red; /* Красный кантик */
    background-color: yellow; /* Желтый фон */
    padding: 10px; /* Отступы вокруг текста */
    display: inline-block; /* Чтобы кантик обрамлял текст */
}


/* Mедиа-запроса для мобильных устройств */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Изменяем направление на колонку */
        height: auto; /* Высота будет адаптивной */
    }
    .left-side, .right-side {
        width: 100%; /* Ширина на 100% для мобильных */
    }
    .header-title {
        font-size: 1.5em; /* Уменьшаем размер заголовка в два раза */
    }
    .item img {
        max-width: 100%; /* Изображения занимают 100% ширины */
        height: auto; /* Сохраняем пропорции */
    }
    footer {
        text-align: center; /* Центрируем текст в подвале */
    }
}

.dark-blue {
    color: #003366; /* Темно-синий цвет */

footer {
    margin-right : -10px; /* Сдвигаем подвал на 10 пикселей влево */
    background-color: #eee; /* Устанавливает светло-серый фон для подвала */
    padding: 7px; /* Добавляет отступы вокруг содержимого подвала */
    text-align: left; /* Выравнивает текст в подвале по левому краю */
    font-size: 1.5em; /* Уменьшает размер шрифта в подвале */
    color: black; /* Устанавливает черный цвет текста в подвале */
    position: relative; /* Фиксирует подвал внизу страницы */
    bottom: 0; /* Устанавливает отступ от низа страницы */
    left: 0; /* Устанавливает отступ от левого края страницы */
    width: 100%;
