
<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% include 'meta_tags.html' %}

</head>
<body>
    <header>
        <h1 class="header-title">Аренда малогабаритной спецтехники в Новочеркасске</h1>
        <!-- Новый заголовок под основным -->
        <h3 class="animated-text">
            <span class="warning">ВНИМАНИЕ ЗАКАЗЧИКАМ !!!</span> <span class="info">
            для Вашего удобства, сайт напрямую соединяет с исполнителями и перевозчиками.</span>
        </h3>
    </header>

    <div class="container">
        <div class="left-side">
            <div class="item">
                <img src="{{ url_for('static', filename='photo1.png') }}" alt="Манипулятор">
                {% set title = 'Манипулятор' %} <!-- Название объекта -->
                {% set price = 3000 %}
                {% set phone = '+79185729090' %}
                {% include 'price_block.html' %}
            </div>

            <div class="item">
                <img src="{{ url_for('static', filename='photo2.png') }}" alt="Мини эксковатор" />
                {% set title = 'Мини экскаватор' %} <!-- Название объекта -->
                {% set price = 2500 %}
                {% set phone = '+79001209189' %}
                {% include 'price_block.html' %}
            </div>

            <div class="item">
                <img src="{{ url_for('static', filename='photo3.png') }}" alt="Эвакуатор" />
                {% set title = 'Эвакуатор' %} <!-- Название объекта -->
                {% set price = 3500 %}
                {% set phone = '+79081889997' %}
                {% include 'price_block.html' %}
            </div>

            <div class="item">
                <img src="{{ url_for('static', filename='photo4.jpg') }}" alt="Мини самосвал" />
                {% set title = 'Мини самосвал' %} <!-- Название объекта -->
                {% set price = 3000 %}
                {% set phone = '+79081889997' %}
                {% include 'price_block.html' %}
            </div>

            <div class="item">
                <img src="{{ url_for('static', filename='photo5.png') }}" alt="Каток" />
                {% set title = 'Каток' %} <!-- Название объекта -->
                {% set price = 2250 %}
                {% set phone = '+79001209189' %}
                {% include 'price_block.html' %}
            </div>
        </div>
        <div class="right-side">

            <div class="highlighted-text">
                <h2 class="red">С нами выгодно, удобно и экономно.
                    Действует гибкая система скидок. Самые низкие цены в городе.</h2>
            </div>

            <div class="text-content">
                <h1>Сдача в аренду малогабаритной специальной техники:</h1>
                <ul>
                    <li>
                        <strong>Манипулятор:</strong>
                        <p class="dark-blue"><b>Цена:</b> минимального заказа 3500 p, почасовая аренда 3000 р/час не менее 2 часов,
                            аренда более 30 смен 2500 р/час.</p>
                        <p>Кузов до 4 тонн, габариты 4 м. на 2 м., стрела 10 м. 3 тонны, на полном вылете 300 кг.</p>
                    </li>

                    <li>
                        <strong>Мини экскаватор:</strong>
                        <p class="dark-blue"><b>Цена:</b> минимального заказа 5000 p, почасовая аренда 2500 р/час не менее 2 часов,
                            аренда более 30 смен 2000 р/час. Доставка оплачивается отдельно, но ниже рыночной цены.</p>
                        <p>MITSUBISHI MM30SR на резиновых гусеницах, не испортит Ваше покрытие.</p>
                        <p>Малогабаритная, высокопроизводительная техника для землеройных работ в условиях тесного пространства.</p>
                        <p>Общая высота: 2,4 м. Общая ширина: 1,55 м. Максимальная глубина копания: 2,81 м. Максимальная высота разгрузки: 3,77 м.</p>
                    </li>

                    <li>
                        <strong>Эвакуатор:</strong>
                        <p class="dark-blue"><b>Цена:</b> минимального заказа 3500 p, остальные условия оговариваются отдельно.</p>
                        <p>Сдвижная платформа до 3.5 тонн, габариты 5,6 м. на 2,2 м., заберет даже самую низкую машину.</p>
                    </li>

                    <li>
                        <strong>Самосвал (мини):</strong>
                        <p class="dark-blue"><b>Цена:</b> минимального заказа 3000 p, почасовая аренда 2500 р/час не менее 2 часов,
                            аренда более 30 смен 2000 р/час.</p>
                        <p>Кузов до 3.5 тонн, габариты 3,8 м. на 2 м. Вывоз мусора. Доставка песка, щебня и т.д.</p>
                    </li>

                    <li>
                        <strong>Каток:</strong>
                        <p class="dark-blue"><b>Цена:</b> минимального заказа 18000 p, смена восемь часов, доставка по городу бесплатно.</p>
                        <p>Каток вибрационный, ширина вальца 1,3 м., длинна 3 м., вес 3600 кг., сила виброудара 7,2 тонны.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <p class="small"><a href="https://t.me/+uk49Ju1jlWI2MDAy" target="_blank">Создание сайтов на заказ.</a></p>
        <p class="small">2025 г.</p>
    </footer>
</body>
</html>
