
<div class="price-block">
    <div class="item-title">{{ title }}</div> <!-- Добавлено название объекта -->
    <div class="price">Цена: {{ price }} руб/час</div>
    <button class="button" onclick="showPhone(this)">Показать номер</button>
    <div class="phone-number" style="display: none;"> <!-- Убедитесь, что этот элемент скрыт по умолчанию -->
        <p>Позвонить на номер: <span>{{ phone }}</span></p>

        <!-- Заменяем кнопку на изображение для звонка -->
        <img src="{{ url_for('static', filename='phone-icon_2.png') }}" alt="Позвонить" class="call-icon"
             onclick="makeCall('{{ phone }}')" style="cursor: pointer; width: 130px; height: 35px;">

        <!-- Добавляем иконку WhatsApp с ссылкой -->
        <a href="https://wa.me/{{ phone }}" target="_blank">
            <img src="{{ url_for('static', filename='whatsapp-icon.png') }}" alt="WhatsApp" class="messenger-icon"
                 style="width: 40px; margin-left: 20px;">
        </a>
        <!-- Добавляем иконку Telegram с ссылкой -->
        <a href="https://t.me/{{ phone }}" target="_blank"> <!-- Изменено на номер телефона -->
            <img src="{{ url_for('static', filename='telegram-icon.png') }}" alt="Telegram" class="messenger-icon"
                 style="width: 40px; margin-left: 20px;">
        </a>
    </div>
</div>

<script>
    function showPhone(button) {
        const phoneDiv = button.nextElementSibling; // Получаем следующий элемент (phone-number)
        const isVisible = phoneDiv.style.display === 'block';

        // Если номер скрыт, показываем его
        if (!isVisible) {
            phoneDiv.style.display = 'block'; // Показываем номер
            // Устанавливаем таймер на 7 секунд для скрытия номера
            setTimeout(() => {
                phoneDiv.style.display = 'none';
            }, 7000);
        } else {
            // Если номер уже виден, скрываем его
            phoneDiv.style.display = 'none';
        }
    }

    function makeCall(phone) {
        window.location.href = 'tel:' + phone;
    }
</script>
